@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&display=swap');
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.board {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    position: relative;
}

.row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cell {
    width: 150px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    font-family: 'Konit', sans-serif;
    font-weight: 900;
    background-color: black;
    z-index: 1;
    color: white;
    transition: 0.1s;
    position: relative;
}

.mainDiagonal::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 5px;
    height: 150%;
    transform: rotate(-45deg);
}

.stats {
    margin-top: 100px;
    color: white;
}